 #field { 
    width: 600px;
    height: 445px;
    background-image:url(pole.jpeg);
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
    
  #ball {
    position: absolute;
    left: 284;
    top: 205;
    width: 30px;
    height: 30px;

    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
  }
