body{
    background: black;
    background-size: cover;
	font-family: Verdana, Arial, "Times New Roman";
}

.zagolovok{
    
	color: blue;
	text-align: center;
}

.podzagolovok{ 
   text-align: center;
   color: red;
}

.text{
   text-align: center;
   color: white;
   font-size: 25pt;
   font-family: cursive;
}



